<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /hacker
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /hacker/index.html [L]
</IfModule>