<li class="list-group-item">
    <div class="card border-0 rounded-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    <p class="card-text mb-0 user">User</p>
                    <p class="text-muted time_comm">2 ago</p>
                    <p class="text-muted mb-0 comment_text">comment text</p>
                    <button class="btn btn-outline-success show_button">Show comments</button>
            </li>
            <li class="list-group-item">
                <ul class="list-group list-group-flush comments">
                    
                </ul>
            </li>
        </ul>
    </div>
</li>