<main class="row">
    <div class="col">
        <div class="card" id="current_news">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="card-text url">URL</a>
                <p class="card-text raiting">Raiting: 4.1</p>
                <p class="text-muted number_comm">Comments: 34567</p>
                <div class="d-flex justify-content-between">
                    <p class="text-muted date">03.06.2002</p>
                    <p class="text-muted author">By Author</p>
                </div>
                <ul class="list-group list-group-flush comments">
                    
                </ul>
            </div>
        </div>
    </div>
</main>
